.service-flex-container {
    display: flex;
}




.sub-list {
    padding-left: 50px;
    /* padding-bottom: 0; */
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  .service-flex-container {
    flex-direction: column;
  }
}